$primary_color-50: #effcfc;
$primary_color-100: #d6f6f7;
$primary_color-200: #b1ebf0;
$primary_color-300: #7bdce5;
$primary_color-400: #3ec3d2;
$primary_color-500: #23a7b7;
$primary_color-600: #20879a;
$primary_color-700: #206d7e;
$primary_color-800: #225968;
$primary_color-900: #214b58;
$primary_color-light: #7bdce579;

$text_color-white: #ffffff;
$text_color-black: #282828;
$text_color-grey: #383d46;

$bg_color-white: #e5f2f6;
$bg_color-black: #10313c;

// Border radius variables
$border-radius-xs: 0.25rem; // Small UI elements
$border-radius-sm: 0.5rem; // Buttons, icons
$border-radius-md: 1rem; // Cards, containers
$border-radius-lg: 1.5rem; // Featured elements
$border-radius-xl: 2rem; // Large elements
$border-radius-full: 50%; // Circular elements
