.language-switch {
    position: fixed;
    margin: 0px;
    right: 30px;
    padding: 15px;
    background-color: var(--color-bri-600);
    color: var(--color-white);
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.language-switch:hover {
    background-color: var(--color-bri-700);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.flag-icon {
    width: 25px;
    height: auto;
    margin-right: 5px;
}