.footer {
  width: 100%;
  background: var(--color-bri-700);
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 20px 0;
  gap: 40px;
  color: var(--color-white);
}

.footer__legal {
  font-size: 12px;
}
.footer__legal a {
  margin: 0 4px;
  color: var(--color-white);
}
.footer__legal a:hover {
  margin: 0 4px;
  color: var(--color-bri-950);
}
.footer__legal span {
  margin-right: 10px;
}

.footer__links {
  display: flex;
  gap: 18px;
}
.footer__links a {
  font-size: 24px;
  color: var(--color-white);
}
.footer__links a:hover {
  color: var(--color-bri-950);
}

/* ---------- RESPONSIVE ---------- */
@media (width < 620px) {
  .footer {
    flex-direction: column-reverse;
    gap: 16px;
  }
}

@media (width < 420px) {
  .footer {
    text-align: center;
  }

  .footer__legal span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}
/* ---------- FIN RESPONSIVE ---------- */