.footer {
  width: 100%;
  background: var(--color-primary);
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 20px 0;
  gap: 40px;
  color: var(--color-white);
}

.legal {
  font-size: 12px;
}

.legal > a {
  margin: 0 4px;
  color: var(--color-white);
}

.legal > a:hover {
  margin: 0 4px;
  color: var(--color-grey-sec);
}

.legal > span {
  margin-right: 10px;
}

.footer .links {
  display: flex;
  gap: 18px;
}

.footer .links > a {
  font-size: 24px;
  color: var(--color-white);
}

.footer .links > a:hover {
  color: var(--color-grey-sec);
}

@media (width < 620px) {
  .footer {
    flex-direction: column-reverse;
    gap: 16px;
  }
}

@media (width < 420px) {
  .footer {
    text-align: center;
  }

  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}
