@import '../../variables';

footer {
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;

    @media (max-width: 768px) {}

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}