@import '../../variables';

header {
    max-width: 1200px;
    padding: 1rem 1rem;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 10;

    .headerContainer {
        background-color: $bg_color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 1rem;

        .headerMenu {
            list-style: none;
            padding: 0;
            margin: 0;

            ul {
                padding: 0;
                display: flex;
                gap: 3rem;

                li {
                    display: inline-block;
                    font-size: 1.1rem;
                }
            }
        }

        .headerBtns {
            cursor: pointer;
            display: flex;
            align-items: center;
            width: auto;
            gap: 0.5rem;

            svg {
                display: flex;
                align-items: center;
            }
        }

        .headerMobile {
            cursor: pointer;
            display: none;
        }
    }

    @media (max-width: 768px) {
        .headerContainer {
            .headerMenu {
                ul {
                    gap: 2rem;
                }
            }
        }
    }

    @media (max-width: 480px) {
        .headerContainer {

            .headerBtns,
            .headerMenu {
                display: none;
            }

            .headerMobile {
                display: flex;
            }
        }
    }
}