.header {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__navbar a {
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s;
  text-transform: uppercase;
}

.header__navbar-list {
  padding: 0;
}
.header__navbar-list li {
  display: inline-block;
}
.header__navbar-list li a {
  transition: letter-spacing 0.3s ease;
  letter-spacing: normal;
}
.header__navbar-list li a:hover {
  letter-spacing: 2px;
}

#scrollToTopButton {
  color: var(--color-bri-950);
  position: fixed;
  font-size: 30px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.2s ease;
}
#scrollToTopButton:hover {
  transform: scale(1.9);
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  .header {
    padding: 0;
  }
  .header__navbar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tabletas */
}
/* ---------- FIN RESPONSIVE ---------- */
