.header {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-list a {
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s;
  text-transform: uppercase;
}

.menu {
  padding: 0;
}
.menu li {
  display: inline-block;
}
.menu li a {
  transition: letter-spacing 0.3s ease;
  letter-spacing: normal;
}
.menu li a:hover {
  letter-spacing: 2px;
}

.header-butons {
  display: none;
}

#scrollToTopButton {
  position: fixed;
  font-size: 30px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.2s ease;
}
#scrollToTopButton:hover {
  transform: scale(1.9);
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  .header {
    padding: 0;
  }
  .header-list {
    display: none;
  }
  .header-butons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2vh;
    padding: 1rem 2rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.081);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
  .header-butons a {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tabletas */
}
/* ---------- FIN RESPONSIVE ---------- */
