.projects {
  background-color: var(--color-bg);
  border-radius: 3rem 3rem 0 0;
  -webkit-border-radius: 3rem 3rem 0 0;
  -moz-border-radius: 3rem 3rem 0 0;
  -ms-border-radius: 3rem 3rem 0 0;
  -o-border-radius: 3rem 3rem 0 0;
}
