@import '../variables';
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  background-color: $primary_color-700;
  color: $text_color-white;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-y: scroll;

  ::selection {
    background-color: $primary_color-light;
  }
}

body {
  margin: 0;
  padding: 0;

  a {
    color: $primary_color-800;
    text-decoration: none;

    &:hover {
      color: $primary_color-600;
      cursor: pointer;
    }
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .custom-icons svg {
    width: 1.8rem;
    height: 3rem;
    fill: $primary_color-800;

    &:hover {
      fill: $primary_color-600;
    }
  }


  @media (max-width: 768px) {
    .custom-icons {
      width: 1.5rem;
    }
  }

  @media (max-width: 480px) {}
}