:root {
  font-family: rubik, sans-serif;

  --color-white: #fff;
  --color-black: #000;
  --color-grey: #383d46;
  --color-grey-sec: #d4d4d4;
  --color-bg: #f1f1f1;
  --color-primary: #206d7e;
  --color-secondary: #114855;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-secondary);
}

a {
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

h1,
h2 {
  font-size: 3.2em;
  line-height: 1.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg);
}
button:hover {
  cursor: pointer;
  background-color: var(--color-grey-sec);
}
