@import '../variables';

:root {
  background-color: $bg_color-black;
  color: $text_color-white;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-y: scroll;

  ::selection {
    background-color: $primary_color-light;
  }
}

html {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  padding-top: 80px;

  a {
    color: $primary_color-800;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  h3 {
    font-size: 1.3rem;
    margin: 0;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .custom-icons svg {
    width: 1.8rem;
    height: 3rem;
    fill: $primary_color-700;

    &:hover {
      fill: $primary_color-900;
    }
  }

  .custom-button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 8rem;
    color: $primary_color-800;
    background-color: $primary_color-200;
    border-radius: .4rem;

    &:hover {
      background-color: $primary_color-300;
      text-decoration: none;
    }
  }

  .custom-button-sec {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 8rem;
    color: $primary_color-200;
    border-radius: .4rem;
    background-color: transparent;
    border: 1px solid $primary_color-200;

    &:hover {
      background-color: rgba($primary_color-200, 0.1);
      text-decoration: none;
    }
  }

  .active {
    text-decoration: underline;
  }


  @media (max-width: 768px) {
    .custom-icons {
      width: 1.5rem;
    }

    .custom-button,
    .custom-button-sec {
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 480px) {}
}