@import '../variables';
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  background-color: $bg-color;
  color: $text_color-grey;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-y: scroll;

  ::selection {
    background-color: $primary_color-light;
  }
}

body {
  margin: 0;
  padding: 0;

  a {
    color: $primary_color-500;
    text-decoration: none;

    &:hover {
      color: $primary_color-600;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {}